<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
           <span class="sr-only">Toggle navigation</span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
         </button>
         <a class="navbar-brand" href="#">CyberCAPTOR Client</a>
       </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="#/welcome">Initialization</a></li>
            <li><a href="#/configuration">Configuration</a></li>
            <li><a href="#/attackGraph">Attack Graph</a></li>
            <li><a href="#/attackPath">Attack Path</a></li>
            <li class="active"><a href="#/dynamicRiskAnalysis">Dynamic Risk Analysis</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
<br/><br/><br/>


<div class="col-md-12">
  <div class="panel panel-default">
    <div class="panel-heading">
      <p><strong>How it works ?</strong></p>
    </div>
    <div class="panel-body">
      <p>The window below shows the attack graph in a topological view.<p>
      <p>The panel <em>"Alarm Box"</em> contains differents alarms.</p>
    </div>
  </div>
</div>

<div class="col-md-9">
  <div class="panel panel-default">
    <div class="panel-heading"> 
      <p><strong>Dynamic Risk Analysis</strong></p>
    </div>

    <div class="panel-body">
      <div class="attack-graph" ng-controller="attackGraphTopologicalController" graph-topo-drawing></div>
    </div>
  </div>
</div>


<div class="col-md-1">
  <div class="panel panel-default">
    <div class="panel-body">
      <div> <IMG src="img/pirate.png"><p>Pirate</p><IMG src="img/target.png"><p>Target</p></div>
   </div>
 </div>
</div>

<div class="col-md-12">
  <div class="panel panel-default">
    <div class="panel-heading">
      <p><strong>Alarm Box</strong></p>
      <span class="tabulation" />
      <button ng-click="alertFunc()">Try It</button>
    </div>

    <div id="tot_remed" class="panel-body">
     <!--  <p>Alarm : {{ tab }}</p> -->

      <ul ng-repeat-start="data in tab"> 
        Alarm {{ data.ID }} : {{ data.Value }} 
       </ul>
      <ul ng-repeat-end></ul>
    </div>
  </div>
</div>

