<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
           <span class="sr-only">Toggle navigation</span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
         </button>
         <a class="navbar-brand" href="#/welcome">CyberCAPTOR Client</a>
       </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="#/welcome">Initialization</a></li>
            <li><a href="#/configuration">Configuration</a></li>
            <li><a href="#/attackGraph">Attack Graph</a></li>
            <li><a href="#/attackPath">Attack Path</a></li>
            <li class="active"><a href="#/dynamicRiskAnalysis">Dynamic Risk Analysis</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
<br/><br/><br/>


<div class="col-md-12">
  <div class="panel panel-default">
    <div class="panel-heading">
      <p><strong>How it works ?</strong></p>
    </div>
    <div class="panel-body">
      <p>The window below shows the attack graph in a topological view.<p>
      <p>Click on "<em>Retrieve Alerts</em>" to start the service.</p>
      <p>All alarms detected will be show in the panel <em>"Alarm Box"</em> with their differentes properties.</p>
      <p>Click on "<em>Visualize</em>" to see targets and sources involved in the selected attack.</p>
    </div>
  </div>
</div>

<div class="col-md-9">
  <div class="panel panel-default">
    <div class="panel-heading"> 
      <p><strong>Dynamic Risk Analysis</strong></p>
    </div>

    <div class="panel-body">
      <div class="attack-graph" graph-drawing-dra></div>
    </div>
  </div>
</div>


<div class="col-md-2">
  <div class="panel panel-default">
    <div class="panel-body">
      <div> Wholesome Host <div id="wholesome"></div></div>
      <div> Attacked Host <div id="attacked"></div></div>
   </div>
 </div>
</div>

<div class="col-md-12">
  <div class="panel panel-default">
    <div class="panel-heading">
      <p><strong>Alarm Box</strong><span class="tabulation" /><button ng-click="alertFunc()"><strong>Retrieve Alerts</strong></button></p>
    </div>

    <div id="tot_remed" class="panel-body">

      <ul ng-repeat-start="data in tabAlert.tab"> 
        <ul ng-repeat-start="data in data.alerts">

          <br /> <p>{{ res }} <span class="tabulation" /> <strong>Name :</strong> {{ data.name }} <span class="tabulation" /> <strong>Date: </strong> {{ data.date }} <span class="tabulation" /> <strong>CVE :</strong> <a href="{{ data.CVEs[0].link }}"> {{ data.CVEs[0].CVE }}</a> <span class="tabulation" /> <button ng-click="dra(data)">Visualize</button> <button type="button" ng-click="displayModal()">OpenModal</button></p>

          <div class="row">

            <div class="col-md-4">
                <li ng-repeat-start="a in data.sources">
                  <p><strong>Sources</strong> : {{ a }}</p>
                </li>
                <ul ng-repeat-end></ul>
              </div>

            <div class="col-md-3">
              <li ng-repeat-start="a in data.targets">
                <p><strong>Targets</strong> : {{ a }}</p>
              </li>
              <ul ng-repeat-end></ul>
            </div>

          </div>

        </ul>
        <ul ng-repeat-end></ul>

      </ul>
      <ul ng-repeat-end></ul>
    </div>
  </div>
</div>

<!-- Modal content -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content -->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Remediations</h4>
      </div>
      <div class="modal-body">
        <ul ng-repeat-start="data in draRemed">
          <li ng-repeat-start="a in data">
            <p>Type : {{ a.type }}</p>
            <p>Action : {{ a.action }}</p>
            <p>IP tables rule : {{ a.iptables_rule }}</p>
            <p>Source IP : {{ a.source_ip }}</p>
            <p>Source Mask : {{ a.source_mask}}</p>
            <p>Linux black hole rule : {{ a.linux_black_hole_rule }}</p>

            <li ng-repeat-start="b in a track by $index" ng-repeat-end>
                      {{ b }} 
            </li>
            </br>
          </li>
          <ul ng-repeat-end></ul>
        </ul>
        <ul ng-repeat-end></ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

