<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
           <span class="sr-only">Toggle navigation</span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
         </button>
         <a class="navbar-brand" href="#/welcome">CyberCAPTOR Client</a>
       </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#/welcome">Initialization</a></li>
            <li ng-show="show"><a href="#/configuration">Configuration</a></li>
            <li ng-show="show"><a href="#/attackGraph">Attack Graph</a></li>
            <li ng-show="show"><a href="#/attackPath">Attack Path</a></li>            
            <li ng-show="show"><a href="#/dynamicRiskAnalysis">Dynamic Risk Analysis</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
</nav>

<br/><br/><br/>

    <div clas="row">

      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <p><strong>How it works ?</strong></p>
          </div>

          <div class="panel-body">
            <p>This page initialize the server with your data. To send them, click on the button then select a topology file.</p>
            <p>After seeing your file in the queue, click on <em>"Upload  all"</em> and watch the progress bar. When it is completely filled, it means that your data is loaded.</p>
          </div><!-- panel body -->
        </div><!-- panel default -->
      </div><!-- col md -->

      <div class="col-md-8">
        <div class="panel panel-default">
          <div class="panel-heading">
            <strong>Select File : </strong> <input type="file" name="file" nv-file-select="" uploader="uploader" />
          </div><!-- panel heading -->

          <div class="panel-body">
            <p>Queue length : {{ uploader.queue.length }}</p>

            <table class="table">
              <thead>
                <tr>
                  <th width="40%">Name</th>
                  <th ng-show="uploader.isHTML5">Size</th>
                  <th ng-show="uploader.isHTML5">Progress</th>
                  <th>Status</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="item in uploader.queue">
                  <td><strong>{{ item.file.name }}</strong></td>
                  <td ng-show="uploader.isHTML5" rowmap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                  <td ng-show="uploader.isHTML5">
                    <div class="progress" style="margin-bottom: 0;">
                      <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                    </div>
                  </td>
                  <td class="text-center">
                    <span ng-show="item.isScucess"><i class="glyphicon glyphicon-ok"></i></span>
                    <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                    <span ng-show="item.isError"><i class="glyphicon glyphcion-remove"></i></spa>
                  </td>
                  <td nowrap>
                    <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                      <span class="glyphicon glyphicon-upload"></span> Upload
                    </button>
                    <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                      <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                    </button>
                    <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                      <span class="glyphicon glyphicon-trash"></span> Remove
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>

            <div>
              <div>
                Queue progress :
                <div class="progress" style="">
                  <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
                </div>
              </div>

              <button type="button" class="btn btn-success btn-s" ng-click="uploader.uploadAll()" ng-disabled="$uploader.getNotUploadedItems().length">
                <span class="glyphicon glyphicon-upload"></span> Upload all
              </button>
              <button type="button" class="btn btn-warning btn-s" ng-click"uploader.cancelAll()" ng-disabled="!uploader.isUploading">
                <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
              </button>
              <button type="button" class="btn btn-danger btn-s" ng-click="uploader.claearQueue()" ng-disabled="!uploader.queue.length"> 
                <span class="glyphicon glyphicon-trash"></span> Remove all
              </button>
            </div>

          </div>
        </div>
      </div>
    </div>